        <div class="container-fluid backgroundcolor">
            <div class="row-2">
                <div class="col-md-12 text-center">
                    <h1> E-Ticaret Yardımcısı'na Hoşgeldiniz! </h1>
                    <p class="h4">E-Ticaret ürün <i class="text-info">maliyetini</i> hesaplamanın en kolay yolu burası.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="offset-md-3 col-md-6 border border-warning">
                    <h3 class="text-info pl-3"> <i>Türkiye'de hizmet veren e-ticaret siteleri</i> </h3>

                    <h5 class=" pl-3"> E-ticaret siteleri ile ilgili <span class="text-warning font-italic"> <i>kategori</i>, <i>komisyon</i> ve <i>kayıt bilgilerini</i> </span> bağlantılara tıklayarak bulabilirsiniz. </h5>
                    <ul>
                        {% for website in websites %}
                            <li><a href="/{{ website.id }}"> {{ website.name }} </a> </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
